<!--  -->
<style>
  .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: row;
    max-height: 100vh;
  }
  .cards img {
    margin: 10px;
    border: 3px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    max-width: 23vw;
  }

  img{
    margin: 5px;
    transition: all 1s;
   }
  img:hover{
        transform: scale(1.1)
    }
</style>

<section class="dashboard_section_here content-wrapper" ng-init="init();">
    <div class="container_margin">
       <section class="content-header">
            <div class="header-title">
                <h1>Gallery</h1>
            </div>
        </section>
        
        <div class="container_margin">
            <section class="Search-panel">
                <div class="container">
                    <main class="cards">
                        <img src="{{data.image}}" alt="Stickers" ng-repeat="data in stickers">
                    </main>
                </div>
            </section>
            
        </div>
    </div>
</section>
